<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649250153060-b69242k65bdtoq80jbn38e2lto6dhs33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649250153060-b69242k65bdtoq80jbn38e2lto6dhs33</string>
	<key>API_KEY</key>
	<string>AIzaSyDnauN4tQUndbwwNsPG1I8TzUBnz2KqpZY</string>
	<key>GCM_SENDER_ID</key>
	<string>649250153060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alirandras.apps</string>
	<key>PROJECT_ID</key>
	<string>alirandras</string>
	<key>STORAGE_BUCKET</key>
	<string>alirandras.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649250153060:ios:82563f63c3d86148c73571</string>
</dict>
</plist>